@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pry-clr: #3b2a1e;
  --sec-clr: #faf6ef;
  --tet-clr: #e5a628;

  --pry-txt-clr: #4a3526;
  --pry-txt-dark-fade: #4a3526cc;
  --sec-txt-clr: #faf6ef;
  --sec-txt-clr-fade: #faf6efcc;
  --tet-txt-clr: #f4c04e;

  /* --primary: #D8A27A;
  --secondary: #4F6E77;
  --accent: #A86543;
  --dark: #5A3426;
  --background: #E8EFF1;
  --surface: #F5EEE8;
  --neutral: #8B6F61;

  --text-heading: #3B241A;
  --text-subheading: #5A3426;
  --text-body: #6B564C;
  --text-muted: #8B6F61;
  --text-light: #F5EEE8; */

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;

  --fs-1: 0.875rem;
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 2.5rem;
}
body,
html {
  background-color: var(--sec-clr);
  color: var(--pry-txt-clr);
  line-height: 1.6;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--sec-clr);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
p, span, button, a {
  font-family: "Inter", sans-serif;
}
.hero,
.features,
.catalog,
.testimonials,
.process,
.partner,
.differentiator,
.inquiry,
.faqs,
footer {
  padding: 96px var(--space-3) var(--space-2);
}
.web-cont > * {
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
}
.web-cont h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}
.mobile-hidden {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
 .hero-img {
  display: none;
 }
.italic-accent {
  font-family: inherit;
  font-style: italic;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--sec-clr);
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}
a.logo {
  text-decoration: none;
  color: var(--pry-txt-clr);
  font-weight: 600;
  font-family: "Fraunces", serif;
  font-size: var(--fs-3);
}
.hamburger {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
}
.hamburger .bar {
  width: 2.5rem;
  height: 4px;
  background-color: var(--pry-clr);
  border-radius: 50px;
}
.intro-tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #f5efe4;
  border-radius: var(--fs-1);
  padding: 6px 12px;
}
.intro-tag span.icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--tet-clr);
}
.intro-tag span.text {
  font-size: 14px;
}
.headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0 32px;
}
.headline h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}
.headline p {
  font-size: 18px;
}
.hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.hero-cta a.order,
.hero-cta a.chat,
.cata-cta a { /*ANCHOR TAG TO VIEW FULL CATALOG*/
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 32px;
}
.order--mod {
  background-color: var(--pry-clr);
  color: var(--sec-clr);
  text-align: center;
  padding: 16px 32px;
}
.chat--mod {
  background-color: #f5efe4;
  color: var(--pry-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 16px 32px;
}
.chat--mod i {
  font-size: 18px;
  font-weight: 500;
}
.chat--mod span {
  font-size: 16px;
  font-weight: 500;
}
.problem-inner {
  padding: 96px 24px;
  background: var(--pry-clr);
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.problem-inner h2 {
  font-size: 30px;
  color: var(--sec-clr);
  font-weight: 500;
}
.problem-inner p:not(.focus) {
  font-size: 18px;
  color: #faf6efcc;
  font-weight: 300;
}
.problem-inner p.focus {
  font-size: 18px;
  color: var(--tet-txt-clr);
  font-weight: 500;
}

.features {
  background-color: #f5efe4;
}
.features-inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.features-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-intro p {
  text-align: center;
  font-size: 18px;
}
.features-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-wrapper .card {
  background-color: var(--sec-clr);
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-wrapper .card .icon i {
  font-size: 28px;
  background-color: #f4c04e33;
  padding: 14px;
  border-radius: 10px;
}
.features-wrapper .card .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.catalog-inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.catalog-inner .catalog-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog-inner .catalog-intro h2 {
  line-height: 1.2;
  text-align: left;
}
.catalog-inner .catalog-intro .cata-cta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog-inner .catalog-intro .cata-cta p {
  font-size: 18px;
}
.catalog-inner .catalog-intro .cata-cta a { /* MOD HERE -> 'cata-cta a' */
  background-color: var(--pry-clr);
  color: var(--sec-clr);
  padding: 12px 24px;
}
.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 32px;
}
.catalog-wrapper .cata-item {
  display: grid;
  place-items: end;
}
.catalog-wrapper .cata-item img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 16px;
  filter: brightness(45%);
  z-index: 0;
}
.catalog-wrapper .cata-item .text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 32px;
  color: var(--sec-txt-clr);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog-wrapper .cata-item .text h3 {
  font-size: 24px;
  font-weight: 400;
}
.catalog-wrapper .cata-item .text p {
  font-size: 16px;
  color: var(--sec-txt-clr-fade);
}