@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pry-clr: #3b2a1e;
  --sec-clr: #faf6ef;
  --tet-clr: #f4c04e;

  --pry-txt-clr: #4a3526;
  --pry-txt-dark-fade: #4a3526cc;
  --sec-txt-clr: #faf6ef;
  --sec-txt-clr-fade: #faf6efcc;
  --tet-txt-clr: #f4c04e;

  /* --primary: #D8A27A;
  --secondary: #4F6E77;
  --accent: #A86543;
  --dark: #5A3426;
  --background: #E8EFF1;
  --surface: #F5EEE8;
  --neutral: #8B6F61;

  --text-heading: #3B241A;
  --text-subheading: #5A3426;
  --text-body: #6B564C;
  --text-muted: #8B6F61;
  --text-light: #F5EEE8; */

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;

  --fs-1: 0.875rem;
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 2.5rem;
}
body,
html {
  background-color: var(--sec-clr);
  color: var(--pry-txt-clr);
  line-height: 1.6;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--sec-clr);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
p, span, button, a, label {
  font-family: "Inter", sans-serif;
}
.hero,
.features,
.catalog,
.testimonials,
.process,
.partner,
.differentiator,
.inquiry,
.faqs,
footer {
  padding: 96px var(--space-3) var(--space-2);
}
.web-cont > * {
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
}
.web-cont h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}
.mobile-hidden {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
.italic-accent {
  font-family: inherit;
  font-style: italic;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--sec-clr);
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}
a.logo {
  text-decoration: none;
  color: var(--pry-txt-clr);
  font-weight: 600;
  font-family: "Fraunces", serif;
  font-size: var(--fs-3);
}
.hamburger {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
}
.hamburger .bar {
  width: 2.5rem;
  height: 4px;
  background-color: var(--pry-clr);
  border-radius: 50px;
}

.hero {
  padding: 96px 0;
}
.intro-tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #f5efe4;
  border-radius: var(--fs-1);
  padding: 6px 12px;
}
.intro-tag span.icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--tet-clr);
}
.intro-tag span.text {
  font-size: 14px;
}
.headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0 32px;
}
.headline h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}
.headline p {
  font-size: 18px;
}
.hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.hero-cta a.order,
.hero-cta a.chat,
.cata-cta a, /*ANCHOR TAG TO VIEW FULL CATALOG*/
.part-cta {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 32px;
}
.order--mod {
  background-color: var(--pry-clr);
  color: var(--sec-clr);
  text-align: center;
  padding: 16px 32px;
}
.chat--mod {
  background-color: #f5efe4;
  color: var(--pry-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 16px 32px;
}
.chat--mod i {
  font-size: 18px;
  font-weight: 500;
}
.chat--mod span {
  font-size: 16px;
  font-weight: 500;
}
.problem-inner {
  padding: 96px 24px;
  background: var(--pry-clr);
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.problem-inner h2 {
  font-size: 30px;
  color: var(--sec-clr);
  font-weight: 500;
}
.problem-inner p:not(.focus) {
  font-size: 18px;
  color: #faf6efcc;
  font-weight: 300;
}
.problem-inner p.focus {
  font-size: 18px;
  color: var(--tet-txt-clr);
  font-weight: 500;
}

.features {
  background-color: #f5efe4;
}
.features-inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.features-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-intro p {
  text-align: center;
  font-size: 18px;
}
.features-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-wrapper .card {
  background-color: var(--sec-clr);
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-wrapper .card .icon i {
  font-size: 28px;
  background-color: #f4c04e33;
  padding: 14px;
  border-radius: 10px;
}
.features-wrapper .card .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.catalog-inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 96px;
}
.catalog-inner .catalog-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog-inner .catalog-intro h2 {
  line-height: 1.2;
  text-align: left;
}
.catalog-inner .catalog-intro .cata-cta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog-inner .catalog-intro .cata-cta p {
  font-size: 18px;
}
.catalog-inner .catalog-intro .cata-cta a { /* MOD HERE -> 'cata-cta a' */
  background-color: var(--pry-clr);
  color: var(--sec-clr);
  padding: 12px 24px;
}
.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 32px;
}
.catalog-wrapper .cata-item {
  display: grid;
  place-items: end;
}
.catalog-wrapper .cata-item img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 16px;
  filter: brightness(45%);
  z-index: 0;
}
.catalog-wrapper .cata-item .text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 32px;
  color: var(--sec-txt-clr);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog-wrapper .cata-item .text h3 {
  font-size: 24px;
  font-weight: 400;
}
.catalog-wrapper .cata-item .text p {
  font-size: 16px;
  color: var(--sec-txt-clr-fade);
}

.achievements-inner {
  background-color: var(--tet-clr);
  padding: 64px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.achievements-inner .achie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.achievements-inner .achie .value {
  font-size: 36px;
  font-family: "Fraunces", serif;
  font-weight: 600;
}
.achievements-inner .achie .description {
  font-size: 14px;
}

.testimonials {
  background-color: #f5efe4;
}
.testimonials-inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 96px;
}
.testimonials-inner .testi-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.testimonials-inner .testimonials-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 16px;
}
.testimonials-inner .testimonials-wrapper .testimonial {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--sec-clr);
  padding: 32px;
  border-radius: 16px;
}
.testimonials-inner .testimonials-wrapper .testimonial .star-wrapper {
  color: var(--tet-clr);
}
.testimonials-inner .testimonials-wrapper .testimonial p {
  font-style: italic;
}
.testimonials-inner .testimonials-wrapper .testimonial .info-wrapper {
  display: flex;
  flex-direction: column;
}
.testimonials-inner .testimonials-wrapper .testimonial .info-wrapper .name {
  font-size: 16px;
  font-weight: 600;
}
.testimonials-inner .testimonials-wrapper .testimonial .info-wrapper .occupation {
  font-size: 14px;
  color: #4a3526b3;
}

.process-inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.process-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 48px;
}
.guide {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 32px 48px;
}
.guide .num span {
  padding: 24px;
  background-color: #f5efe4;
  border-radius: 50%;
  font-size: 24px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  outline: 1px solid var(--tet-txt-clr);
  outline-offset: 5px;
}
.guide .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.guide .text h3 {
  font-size: 24px;
  font-weight: 400;
}
.guide .text p {
  font-size: 16px;
}

.partner {
  background-color: var(--pry-clr);
}
.partner-inner {
  padding-bottom: 96px;
  color: var(--sec-clr);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.partner-inner .text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.partner-inner .text p {
  font-size: 18px;
}
.partner-inner .text ul {
  list-style: none;
}
.partner-inner .text ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.partner-inner .text ul li span i {
  color: var(--tet-clr);
}
.partner-inner .text .cta--wholesale {
  color: var(--pry-txt-clr);
  background-color: #f4c04e;
  padding: 16px 32px;
  display: inline-block;
}
.partner-inner .img-cont {
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  height: 430px;
  overflow: hidden;
}
.partner-inner .img-cont img {
  width: 100%;
  max-width: fit-content;
  height: inherit;
  object-fit: cover;
}


.differentiator {
  background-color: #f5efe4;
  padding-bottom: 96px;
}
.differentiator-inner p {
  font-size: 20px;
  text-align: center;
}
.differentiator-inner ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 450px;
  margin-inline: auto;
  padding: 2rem;
}
.differentiator-inner ul li {
  background-color: #faf6ef;
  padding: 12px 24px;
  border-radius: 32px;
  box-shadow: 0 0 3px #dbdbdb;
  font-size: 18px;
}
.inquiry {
  padding-bottom: 96px;
}
.inquiry-inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.inquiry-inner .inquiry-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.inquiry-inner .inquiry-intro p {
  text-align: center;
}
.inquiry-inner .form-cont form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
}
.inquiry-inner .form-cont form .row {
  display: grid;
  gap: 8px;
}
.inquiry-inner .form-cont form .row label {
  font-size: 14px;
  font-weight: 500;
}
.inquiry-inner .form-cont form .row [name] {
  width: 100%;
  padding: 12px 16px;
  outline: none;
  border-radius: 8px;
  border: none;
  background-color: #f5efe4;
}
.inquiry-inner .form-cont form input[type="submit"] {
  padding: 16px 0;
  border-radius: 16px;
  border: none;
  background-color: var(--pry-clr);
  color: var(--sec-txt-clr);
  font-size: 16px;
  font-weight: 500;
}


/* .faqs {
  background-color: #f5efe4;
  padding-bottom: 96px;
}
.faqs-inner,
.faqs-inner .accordion-cont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faqs-inner .accordion-cont .accordion {
  display: flex;
  flex-direction: column;
  background-color: var(--sec-clr);
  border-radius: 16px;
}
.faqs-inner .accordion-cont .accordion button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 24px;
  border: none;
  background: transparent;
}
.faqs-inner .accordion-cont .accordion button .text {
  font-size: 18px;
  font-family: "Fraunces", serif;
  font-weight: 600;
}
.faqs-inner .accordion-cont .accordion .icon i {
  font-size: 18px;
  font-weight: 600;
  transition: transform 0.3s ease;
}
.faqs-inner .accordion-cont .accordion.active .icon i {
  transform: rotate(180deg);
}
.faqs-inner .accordion-cont .accordion .panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
}
.faqs-inner .accordion-cont .accordion.active .panel {
  opacity: 1;
}
.faqs-inner .accordion-cont .accordion .panel p {
  font-size: 16px;
  padding: 0 24px 20px;
} */



.faqs {
  background-color: #f5efe4;
  padding-bottom: 96px;
}
.faqs-inner,
.faqs-inner .accordion-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faqs-inner .accordion-two details {
  cursor: pointer;
  transition: all 0.3s ease;
  height: auto;
}
.faqs-inner .accordion-two details summary {
  font-size: 18px;
  font-family: "Fraunces", serif;
  list-style: none;
  border-radius: 16px;
  background-color: var(--sec-clr);
  border: 1px solid #e7e7e7;
  padding: 16px;
}
.faqs-inner .accordion-two details[open] summary {
  border-radius: 16px 16px 0 0;
}
.faqs-inner .accordion-two details[open] p {
  background-color: #f0e2cc;
  border-radius: 0 0 8px 8px;
  font-size: 16px;
  font-family: "Inter", serif;
  color: #4a3526;
  padding: 10px 20px;
}


summary::marker {
  content: "";
}
.faqs-inner .accordion-two details summary::-webkit-details-marker {
  display: none;
}
.faqs-inner .accordion-two details summary::after {
  content: "+";
  float: right;
  font-size: 24px;
  transition: transform 0.3s ease;
}
.faqs-inner .accordion-two details[open] summary::after {
  content: "−";
}

section.cta {
  background-color: #f4c04e;
  padding: 96px 0;
}
.cta-inner {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cta-inner h2 {
  font-size: 48px;
  line-height: 1.2;
}
.cta-inner p {
  font-size: 20px;
}
.cta-inner .cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cta-inner .cta-wrapper a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-inner .cta-wrapper a span i {
  font-size: 16px;
  font-weight: 600;
}
.cta-inner .cta-wrapper a.order-cta {
  gap: 8px;
  color: var(--sec-txt-clr);
  background-color: var(--pry-clr);
}
.cta-inner .cta-wrapper a.chat-cta {
  gap: 8px;
  background-color: var(--sec-clr);
  color: var(--pry-txt-clr);
}
.cta-inner .cta-wrapper a.partner-cta {
  text-align: center;
  border: 2px solid var(--pry-clr);
  background-color: transparent;
  color: var(--pry-txt-clr);
}

footer {
  background-color: var(--pry-clr);
}
.footer-inner {
  padding: 60px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-inner .top-band {
  display: grid;
  grid-auto-rows: auto;
  gap: 32px;
}