@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pry-clr: #3b2a1e;
  --sec-clr: #faf6ef;
  --tet-clr: #e5a628;

  --pry-txt-clr: #4a3526;
  --pry-txt-dark-fade: #4a3526cc;
  --sec-txt-clr: #faf6ef;
  --sec-txt-clr-fade: #faf6efcc;
  --tet-txt-clr: #f4c04e;

  /* --primary: #D8A27A;
  --secondary: #4F6E77;
  --accent: #A86543;
  --dark: #5A3426;
  --background: #E8EFF1;
  --surface: #F5EEE8;
  --neutral: #8B6F61;

  --text-heading: #3B241A;
  --text-subheading: #5A3426;
  --text-body: #6B564C;
  --text-muted: #8B6F61;
  --text-light: #F5EEE8; */

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;

  --fs-1: 0.875rem;
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 2.5rem;
}
body,
html {
  background-color: var(--sec-clr);
  color: var(--pry-txt-clr);
  line-height: 1.6;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--sec-clr);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
p, span, button, a {
  font-family: "Inter", sans-serif;
}
section > div {
  padding: var(--space-6) var(--space-2) var(--space-2);
}
.web-cont > * {
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
}
.mobile-hidden {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
 .hero-img {
  display: none;
 }
.italic-accent {
  font-family: inherit;
  font-style: italic;
}

a.logo {
  text-decoration: none;
  color: var(--pry-txt-clr);
  font-weight: 600;
  font-family: "Fraunces", serif;
  font-size: var(--fs-3);
}
.hamburger {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
}
.hamburger .bar {
  width: 2.5rem;
  height: 4px;
  background-color: var(--pry-clr);
  border-radius: 50px;
}
.intro-tag {
  background-color: #3b2a1e28;
  padding: var(--space-1) var(--space-2);
  display: inline;
  border-radius: var(--fs-1);
}
.icon span i {
  color: var(--tet-clr);
}
span.text {
  font-size: var(--fs-1);
}